<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <link href="/css/netjsongraph.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <%topology_file%>
    <div id="legend">
        <p><span class="circle node">&nbsp;</span> ordinary node</p>
        <p><span class="circle gateway">&nbsp;</span> gateway node</p>
        <p><span class="circle server">&nbsp;</span> server node</p>
        <p><span class="state up">&nbsp;</span> up</p>
        <p><span class="state down">&nbsp;</span> down</p>
        <p><span class="state warning">&nbsp;</span> warning</p>
    </div>
    <script src="/lib/d3.min.js"></script>
    <script src="/lib/netjsongraph.js"></script>
    <script>
        var graph = d3.netJsonGraph("<%=topology_file%>", {
            linkClassProperty: "status",
            nodeClassProperty: "node_type",
            nodeClassState: "state",
            defaultStyle: false,
            labelDy: "-1.5em",
            circleRadius: 7,
            charge: -300,
            gravity: 0.1,
            linkDistance: 70,
            linkStrength: 0.1
        });
    </script>
</body>
</html>