.njg-overlay,
.njg-metadata{
    background: #fbfbfb;
    border-radius: 3px;
    border: 1px solid #ccc;
    color: #1e1d1d;
    font-family: Arial, sans-serif;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
    height: auto;
    max-width: 400px;
    min-width: 200px;
    padding: 0 15px;
    right: 10px;
    top: 10px;
    width: auto;
}

.njg-metadata{
    top: 10px;
    left: 10px;
    right: auto;
    max-width: 500px;
    min-width: 200px;
    padding-bottom: 10px
}
.njg-overlay{ padding-top: 10px; padding-bottom: 10px }

.njg-metadata h3 {
    font-family: "Georgia", serif;
    font-style: italic;
    margin-bottom: 8px
}

.njg-overlay p,
.njg-metadata p{
    margin: 8px 0;
}


.njg-node{ fill: #3182bd }
.njg-node.gateway{ fill: #00efe4 !important }
.njg-node.server{ fill: #a100cd !important }

.njg-node.up, .njg-node.warning, .njg-node.down {
    /*stroke-opacity: 0.5;*/
    /*stroke-width: 7px;*/
    stroke-width: 3px;
}

.njg-node:hover,
.njg-node.njg-open {
    stroke-opacity: 0.5;
    stroke-width: 8.7px;
}


.njg-link{
    cursor: pointer;
    stroke: #1ba619;
    stroke-width: 3;
    stroke-opacity: 0.8;
}

.njg-link:hover,
.njg-link.njg-open{
    stroke-width: 4 !important;
    stroke-opacity: 1;
    stroke: #3acc38;
}

.njg-node.up{
    stroke: #00ff00;
}

.njg-node.warning{
    stroke: #ffa01f;
}

.njg-node.down{
    stroke: #ff0000;
}

.njg-tooltip{ fill: #fff; opacity: 0.8 }

body {
    overflow: hidden;
    font-family: Arial, sans-serif;
    line-height: 20px;
    background-color: #2b2b2b
}
#menu{
    list-style: none outside;
}
#menu li{
    margin-bottom: 10px;
}
#menu li a{
    display: inline-block;
    background: #000;
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    margin-right: 5px;
}
#menu li a:hover{
    background: rgba(0, 0, 0, 0.7)
}
.njg-link.down{
    stroke: #c92517;
    stroke-dasharray: 10, 5
}
.njg-link.down:hover,.down.njg-open{
    stroke: red;
}

/* legend */
#legend{
    position: absolute;
    top: auto;
    left: 5px;
    bottom: 5px;
    width: auto;
    height: auto;
    max-width: 250px;
    padding: 0 15px;
    background: #fbfbfb;
    border-radius: 2px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-family: sans-serif;
    font-size: 14px;
}
#legend p{ line-height: 16px; margin: 10px 0 }
#legend span{
    width: 16px;
    margin-right: 5px;
}
#legend span.circle{
    display: inline-block;
    border-radius: 50%;
    height: 16px;
}
#legend .node{ background-color: #3182bd }
#legend .gateway{ background-color: #00efe4
}
#legend .server{ background-color: #a100cd
}
#legend span.state{
    display: inline-block;
    height: 5px;
    border-bottom-width: 6px;
    border-bottom-style: solid;
}
#legend .up{ border-color: #3acc38 }
#legend .warning{ border-color: #ffa01f
}
#legend .down{ border-color: red }
